html, body {
    width: 100%;
    min-height: 100%;
}
body {
    margin: 20px;
}
.container {
    margin: 20px;
    min-width: 100%;
    height: 100%;
    position: relative;
}
.container2 {
    
}
.box_left {
    background-color: red;
    width: 210px;
    height: 110px;
    display: inline-block;
    margin-left: 0 1px;
}
.box_right {
    background-color: grey;
    width: 210px;
    height: 110px;
    display: inline-block;
    margin-left: auto;
}
.box_middle {
    background-color: blue;
    width: 210px;
    height: 110px;
    display: inline-block;
    margin-right: 32px;
    margin-left: 30px;
}
.box_middle > * {
  padding: 10px;
  flex: 1 100%;
}
.text {
    position:relative;
}
.box_wrapper {
    display: flex;
    position: relative;
    max-width: 680px;
    margin: 0 auto;
}
.bigBox {
    background-color: red;
    width: 70%;
    height: 250px;
    float: left;
    margin-bottom: 20px;
}
.littleBox {
    background-color: blue;
    width: 30%;
    height: 250px;
    float:left;
    margin-bottom: 20px;
}
.lastOne {
    height: 100px;
    background-color: blue;
    width: 100%;
    float: left;
/*
    position: absolute;
    bottom: 1px;
*/
    
}
.lastRightBox {
    height: 100px;
    background-color: red;
    width: 30%;
    float: right;
}
.lastLastBox {
    height: 100px;
    background-color: black;
    width: 140px;
    float: right;
    right: 0;
    margin-right: -180px;
}
