h1 {
    color: azure;
    font-size: 15px;
    float: left;
    margin: 0 auto;
    mar
}

.Start {
    font-family: cursive;
    margin-top: auto;
}
p {
    background-color: aqua;
}
h2 {
    background-color: aquamarine;
}
body {
    background-color: purple;
}
